<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add  key="ConnectionString"  value="Password= Aceindus@1299; Persist security Info=True; User ID=Indusnexus9;Initial Catalog=Indusnexus9;Data Source= Indusnexus9.db.13112599.hostedresource.com"/>
  </appSettings>
  <connectionStrings>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="info@wizardsedu.ws">
        <network host="relay-hosting.secureserver.net" password="Ace@123" userName="info@wizardsedu.ws"/>
      </smtp>
    </mailSettings>
  </system.net>
	<system.web>
    <customErrors mode="Off"/>
    <authentication mode="Forms">
      <forms name=".UserManagementASPXAUTH" loginUrl="~/Login.aspx"/>
    </authentication>
		<compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>    
	</system.web>
  <system.webServer>
    <staticContent>
      <clientCache cacheControlMode="UseExpires"
         httpExpires="Tue, 21 Jan 2020 03:14:07 GMT" />
    </staticContent>
    
    <httpCompression directory="%SystemDrive%\inetpub\
temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="9"/>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/x-javascript" enabled="true"/>
        <add mimeType="application/json" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="application/atom+xml" enabled="true"/>
        <add mimeType="application/xaml+xml" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </staticTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
  </system.webServer>
</configuration>


